[submodule "www/legalcode"]
	path = www/legalcode
	url = https://github.com/creativecommons/legalcode.git
[submodule "www/includes/i18n"]
	path = www/includes/i18n
	url = https://github.com/creativecommons/svn-i18n
[submodule "www/wp-content/themes/creativecommons.org"]
	path = www/wp-content/themes/creativecommons.org
	url = https://github.com/creativecommons/theme-creativecommons.org.git
