	.yui-module .hd { 
	    font-size: 150%;
	    color: #FFF;
	    background-color: #43594a; 
	    padding: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}

	.yui-module .bd th {
	    width: 40%;
	    text-align:right;
	}

	.yui-module .bd td {
	    padding-left: 20px;
	}

	.yui-module .bd tr {
	    vertical-align:top;
	    font-family:sans-serif;
	    font-size: 80% !important;
	    margin-bottom: 20px;
	}

	.yui-module .bd .form-row {
		clear: both;
		padding-top: 10px !important;
		width: 100%;
	}

	.yui-module .bd {
		padding-top: 10px;
	}

	.yui-module .bd p {
		padding-bottom: 10px;
	}

	.yui-module .bd .form-question {
		width: 30%;
		text-align: right;
		font-weight: bold;
		font-size: 105%;
		float: left;
	}

	.yui-module .bd .form-answer {
		float: left;
		width: 57%;
		padding-left: 2%;
	}
	.yui-module .bd .form-answer input {
		width: 100%;
	}

.preview {
   border: 1px #555 solid;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 10px;
   text-align: center;
}

.bd textarea {
    border: 1px #555 solid;
    padding: 5px;
    padding-right: 0px;
}

.bd input {
    border: 1px #555 solid;
    padding: 2px;
}

.yui-buttongroup {
    text-align: center;
}

.ui_container {
    display:none;
}

.alert {
    background-color:red !important;
    text-align: center;
}
