# Please add copious comments to any new rule. Better to fill this document
# with comments and know what is happening than try to figure out what
# some obscure rule is for down the road.

# NOTE: sometimes Wordpress decides what page to display based on both the
# query string AND the REQUEST_URI.  mod_rewrite does not alter the
# REQUEST_URI, and therefore mod_rewrite by itself is not always enough to
# coerce Wordpress into doing what we want.  In these case, add the query
# argument '&roflcopter' to whatever RewriteRule.  This will signal a special
# plugin (cc_rewrite_request_uri.php) to actually alter the REQUEST_URI in the
# PHP environment to be equivalent to the right side of the RewriteRule.

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

# Catch requests to certain posts and feed them to Wordpress in a way that
# it knows how to handle
    RewriteRule ^weblog(/archive|)/entry/(\d+)/?$ /index.php?p=$2&%{QUERY_STRING}&roflcopter [L]
    RewriteRule ^press-releases/entry/(\d+)/?$ /index.php?p=$1&roflcopter [L]

# Catch any requests for the general /weblog/archive and also to the
# archives for any particular year/month and then redirect the client
# to the new-style permalink
    RewriteRule ^weblog/archive(/?.*)$ http://%{SERVER_NAME}/weblog$1 [L,R=301]

# Catch any old permalinks that point to long, ugly post names.  The
# CC Permalink Mapper will get this request and redirect the user accordingly.
# But don't do this if someone was trying to access some particular feed
    RewriteCond %{REQUEST_URI} !^/([a-z-]+)/\d{4}/\d{2}/feed
    RewriteRule ^([a-z-]+)/\d{4}/\d{2}/([a-zA-Z0-9-]+)/?$ /index.php?post_name=$2&category=$1&roflcopter [L]

# Map the namespace document and schema URLs
    RewriteRule ^ns$ /rdf/ns.html [L]
    RewriteRule ^schema.rdf$ /rdf/schema.rdf [L]

# '<some path>/rss' returns an RSS 0.92 feed, which we don't want, so make any
# requests for '<some path>/rss' return an RSS 2 feed.
    RewriteRule ^(.*?)rss/?$ /index.php/$1?feed=rss2 [L]

</IfModule>

##############################################################################
# Don't add anything below this comment.  Wordpress will manage everything
# between the BEGIN and END Wordpress as long as this .htaccess file is
# writable by the web server.  Put CC specific rules above.
##############################################################################
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
