/*
 * Creative Commons 
 * 3.0 - 2006-09
 * 
 * IE related fixes/hacks
 *
 */


/* Transparent png's */
/* Apply to all images, who knows if they'll be PNGs. */
/* Because of WP routing issues, this has to be in the  */ 
img {
	behavior: url("pngie.htc");
}

#wrapper {

	/* min-width */
	width: expression( 
	    document.body.clientWidth < 600 ? "600px" : "94%"
	);

	
}

#wrapper-ie {
	
	/* max-width */
	width: expression( 
	    document.body.clientWidth > 1100 ? "1100px" : "auto"
	);
	
}

#header-wrapper {
margin-top: 0;
	background-color: #426000;
	height: 80px;
}

#header-main {
	margin-top: 0;
	
	/* min-width */
	width: expression( 
	    document.body.clientWidth < 700 ? "700px" : "90%"
	);
}

#splash {
	font-weight: bold;

}


#features {
	width: 26.5%;
	overflow: hidden;
	padding-left: 10px;
}


#page {
	width: 92%;
}
