/*
 * Creative Commons 
 * 3.0 - 2006-09
 * 
 * IE related fixes/hacks
 *
 */


/* Transparent png's */
/* Apply to all images, who knows if they'll be PNGs. */
/* Because of WP routing issues, this has to be in the  */ 
img {
	behavior: url("pngie.htc");
}

#header-wrapper {
margin-top: 0;
	background-color: #426000;
	height: 60px;
}

#header-main {
	margin-top: 0;
}

#splash {
	font-weight: bold;

}


#features {
	width: 26.5%;
	overflow: hidden;
	padding-left: 10px;
}


#page {
	width: 92%;
}
